certifi
chardet
click
Flask
gunicorn
idna
imbalanced-learn
itsdangerous
Jinja2
joblib==0.16.0
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug




